.paginacao nav ul{
    justify-content: center;
    margin: 0;
}


.login-body {
    background: #65cea7 url(../images/login-bg.jpg) no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.mapa-google iframe{
  width: 100% !important;
}